# Chave de API do Google Gemini Flash (Google AI Studio)
GEMINI_API_KEY=AIzaSySuaChaveDoGeminiAqui

# AWS Cognito User Pool
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
COGNITO_CLIENT_ID=7abcdef1234567890abcdef

# Administrador Mestre
ADMIN_USER=maxwellferreira@proton.me
ADMIN_PASSWORD=admin123
