# Arquivos de Variáveis e Credenciais Sensíveis
.env
.env.*
!.env.example
*.pem
*.key
*.cert
variaveis_ambiente_amplify.txt
credentials.json
secrets.*

# Amplify & CloudFormation
.amplify/
amplifyconfiguration*.json
amplify_outputs*.json
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/backend/awscloudformation

# Dependências e Cache
node_modules/
.npm/
dist/
.cache/

# Logs e Arquivos de Sistema
*.log
.DS_Store
Thumbs.db
